.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #226ffe;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 640px);
  top: calc(50% - 502px);
  width: 197px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -90px);
  top: calc(50% - 491px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -326px);
  top: calc(50% - 491px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 160px;
  position: absolute;
  left: calc(50% - -480px);
  top: calc(50% - 500px);
}
.contact {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bmgt-407-information-systems-project {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 80px;
  top: 107px;
  width: 1280px;
  height: 185px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-where-students-apply-their-knowledge-to-develop-real-world-is-solutions-for-business-clients {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 252px;
  width: 1280px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.semester-details-spring-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 380px;
  width: 598px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.professor-paul-shapiro {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 496px;
  width: 390px;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.teaching-assistants-bharat-sreekumar-caifu-lin-sumanth-devara {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 609px;
  width: 1192px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
