.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #226ffe;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 640px);
  top: calc(50% - 502px);
  width: 197px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -90px);
  top: calc(50% - 491px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -326px);
  top: calc(50% - 491px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 160px;
  position: absolute;
  left: calc(50% - -480px);
  top: calc(50% - 500px);
}
.contact {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 80px;
  top: 107px;
  width: 1280px;
  height: 185px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.reach-out-to-the-course-teams-for-support-or-inquiries {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 252px;
  width: 1280px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.professor-contact-paul-shapiro-pshapiro-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 352px;
  width: 650px;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ta-contacts-bharath-sreekumar-bsreekum-umd-edu-caifu-lin-clin-0817-terpmail-umd-edu-sumanth-devara-sdevara-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 80px;
  top: 512px;
  width: 697px;
  height: 267px;
}
