.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #226ffe;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 640px);
  top: calc(50% - 502px);
  width: 197px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -90px);
  top: calc(50% - 491px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - -326px);
  top: calc(50% - 491px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 160px;
  position: absolute;
  left: calc(50% - -480px);
  top: calc(50% - 500px);
}
.contact {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 36px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.let-s-create-a-website-design {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 220px;
  top: 300px;
  width: 1000px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 220px;
  top: 400px;
  width: 1000px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-started {
  background: #a8ff35;
  border-radius: 10px;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 630px;
  top: 550px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-1 {
  background: #d9d9d9;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.get-started2 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 7.02%;
  top: 8.77%;
  height: 84.21%;
  display: flex;
  align-items: center;
  justify-content: center;
}
